<!DOCTYPE html>
<html>
<head>
    <title>Hospital Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <a href="/dashboard" class="back-btn">← Back</a>

<div class="dashboard-container">

    <h1>Admin Analytics Dashboard</h1>

    <!-- Analytics Cards -->
    <div class="card-container">

        <div class="card">
            <h3>Total Human Appointments</h3>
            <p>{{ total_appointments }}</p>
        </div>

        <div class="card">
            <h3>Total Vet Appointments</h3>
            <p>{{ total_vet }}</p>
        </div>

        <div class="card">
            <h3>Total Reports</h3>
            <p>{{ total_reports }}</p>
        </div>

        <div class="card">
            <h3>Pet Records</h3>
            <p>{{ total_pet_records }}</p>
        </div>

        <div class="card">
            <h3>Vaccinations</h3>
            <p>{{ total_vaccinations }}</p>
        </div>

    </div>

    <br><br>

    <h2>Booked Human Appointments</h2>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment[0] }}</td>
            <td>{{ appointment[1] }}</td>
            <td>{{ appointment[2] }}</td>
            <td>{{ appointment[3] }}</td>
            <td>{{ appointment[4] }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>