<!DOCTYPE html>
<html>
<head>
    <title>Hospital Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <a href="/dashboard" class="back-btn">← Back</a>

<div class="dashboard-container">
    <h1>Hospital Admin Dashboard</h1>

    <h2>Booked Appointments</h2>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment[0] }}</td>
            <td>{{ appointment[1] }}</td>
            <td>{{ appointment[2] }}</td>
            <td>{{ appointment[3] }}</td>
            <td>{{ appointment[4] }}</td>
        </tr>
        {% endfor %}

    </table>

</div>

</body>
</html>