<!DOCTYPE html>
<html>
<head>
    <title>Hospital Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    

    <a href="/dashboard" class="back-btn">← Back</a>

<div class="dashboard-container">

    <h1>Admin Analytics Dashboard</h1>

    <!-- Analytics Cards -->
    <div class="card-container">

        <div class="card">
            <h3>Total Human Appointments</h3>
            <p>{{ total_appointments }}</p>
        </div>

        <div class="card">
            <h3>Total Vet Appointments</h3>
            <p>{{ total_vet }}</p>
        </div>

        <div class="card">
            <h3>Total Reports</h3>
            <p>{{ total_reports }}</p>
        </div>

        <div class="card">
            <h3>Pet Records</h3>
            <p>{{ total_pet_records }}</p>
        </div>

        <div class="card">
            <h3>Vaccinations</h3>
            <p>{{ total_vaccinations }}</p>
        </div>

    </div>

    <br><br>
<h2>Hospital Performance Analytics</h2>
<p>Monitor appointments, reports and pet care records</p>
    <h2>Healthcare Analytics Graph</h2>

<div style="width:80%; margin:auto;">
    <canvas id="myChart"></canvas>
</div>

    <h2>Booked Human Appointments</h2>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment[0] }}</td>
            <td>{{ appointment[1] }}</td>
            <td>{{ appointment[2] }}</td>
            <td>{{ appointment[3] }}</td>
            <td>{{ appointment[4] }}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('myChart');

new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
            'Human Appointments',
            'Vet Appointments',
            'Reports',
            'Pet Records',
            'Vaccinations'
        ],
        datasets: [{
            label: 'MediCure Analytics',
            data: [
                {{ total_appointments }},
                {{ total_vet }},
                {{ total_reports }},
                {{ total_pet_records }},
                {{ total_vaccinations }}
            ],
            backgroundColor: [
                '#14b8a6',
                '#1e3a8a',
                '#38bdf8',
                '#22c55e',
                '#f97316'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: true
            }
        }
    }
});
</script>


</body>
</html>