<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h1>Medicure</h1>
    <ul>
        <li>Home</li>
        <li>Services</li>
        <li>About</li>
        <li>Contact</li>
    </ul>
</nav>

<section class="hero">
    <h2>Smart Healthcare for Humans & Pets</h2>
    <p>AI-powered healthcare, veterinary care, and hospital management in one platform.</p>

    <a href="/login">
        <button>Get Started</button>
    </a>
</section>

<section class="services">
    <h2>Our Services</h2>

    <div class="card-container">

        <div class="card">
            <h3>Human Healthcare</h3>
            <p>Symptom checker, AI chatbot, appointments.</p>
        </div>

        <div class="card">
            <h3>Veterinary Care</h3>
            <p>Pet treatment support and vaccination tracking.</p>
        </div>

        <div class="card">
            <h3>Hospital Admin</h3>
            <p>Scheduling, reports, billing analytics.</p>
        </div>

    </div>
</section>

<footer>
    <p>© 2026 Medicure | Powered by team</p>
</footer>

</body>
</html>