<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediCure AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h1>MediCure AI</h1>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>

    <div>
    <a href="/login">
        <button>Sign In</button>
    </a>
</div>
</nav>

<section class="hero".id="hero"></section>
    <h2>Smart Healthcare For Humans & Pets</h2>

    <p>
        Your health deserves smarter care —
        instant support, faster recovery,
        and healthcare at your fingertips.
    </p>

    <a href="/dashboard">
    <button>Get Started</button>
</a>
</section>

<section class="services">

    <h2>Why Choose MediCure?</h2>

    <div class="quick-features">

        <div class="quick-card">
            <h3>24/7 Support</h3>
            <p>Instant healthcare assistance anytime</p>
        </div>

        <div class="quick-card">
            <h3>Nearby Hospitals</h3>
            <p>Find hospitals near your location</p>
        </div>

        <div class="quick-card">
            <h3>Health Tracking</h3>
            <p>Heart, pulse and activity monitoring</p>
        </div>

        <div class="quick-card">
            <h3>Insurance Help</h3>
            <p>Easy claim process guidance</p>
        </div>

    </div>
</section>

<footer>
    <p>© 2026 MediCure AI | Powered by Team MediCure</p>
</footer>
<script>
const hero = document.getElementById("hero");

const images = [
    "https://images.unsplash.com/photo-1576091160399-112ba8d25d1f",
    "https://images.unsplash.com/photo-1584515933487-779824d29309",
    "https://images.unsplash.com/photo-1576201836106-db1758fd1c97"
];

let index = 0;

setInterval(() => {
    hero.style.backgroundImage =
    `linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(${images[index]})`;

    hero.style.backgroundSize = "cover";
    hero.style.backgroundPosition = "center";

    index = (index + 1) % images.length;
}, 3000);
</script>
</body>
</html>