<!DOCTYPE html>
<html>
<head>
    <title>Insurance Process</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<a href="/dashboard" class="back-btn">⬅ Back</a>

<div class="dashboard-container">

    <h1>Health Insurance Assistance</h1>
    <p>Know plans, process and claim tracking</p>

    <div class="quick-features">

        <div class="quick-card">
            <i class="fa-solid fa-file-medical"></i>
            <h3>Step 1</h3>
            <p>Select Insurance Plan</p>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-id-card"></i>
            <h3>Step 2</h3>
            <p>Upload Required Documents</p>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-user-check"></i>
            <h3>Step 3</h3>
            <p>Verification Process</p>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-hospital"></i>
            <h3>Step 4</h3>
            <p>Hospital Approval</p>
        </div>

        <div class="quick-card">
            <i class="fa-solid fa-money-check-dollar"></i>
            <h3>Step 5</h3>
            <p>Claim Settlement</p>
        </div>

    </div>

    <br><br>

    <div class="location-section">
        <h2>Required Documents</h2>

        <ul style="text-align:left; line-height:2;">
            <li>Aadhar Card</li>
            <li>Hospital Bills</li>
            <li>Medical Reports</li>
            <li>Doctor Prescription</li>
            <li>Bank Details</li>
        </ul>
    </div>

    <br><br>

    <div class="location-section">
        <h2>Track Insurance Status</h2>

        <input type="text" placeholder="Enter Claim ID">

        <button>Track Status</button>
    </div>

</div>

</body>
</html>