<!DOCTYPE html>
<html>
<head>
    <title>Pet Symptom Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button onclick="toggleTheme()" id="theme-btn">
    🌙
</button>

<a href="/vet" class="back-btn">← Back</a>

<div class="dashboard-container">
    <h1>Pet Symptom Checker</h1>

    <form method="POST">

        <input type="text"
               name="symptom"
               placeholder="Enter pet symptoms"
               required><br><br>

        <button type="submit">Check Symptoms</button>

    </form>

</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>

</body>
</html>