<!DOCTYPE html>
<html>
<head>
    <title>Pulse Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="pulse-page">

<a href="/dashboard" class="back-btn">← Back</a>

<div class="pulse-box">

    <h1>Live Pulse Analytics</h1>

    <div class="pulse-ring">
        <h2>82</h2>
        <span>BPM</span>
    </div>

    <div class="pulse-info">
        <div>Stress: Low</div>
        <div>Oxygen: 97%</div>
        <div>Recovery: Good</div>
    </div>

</div>

</body>
</html>