<!DOCTYPE html>
<html>
<head>
    <title>Home Remedies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button onclick="toggleTheme()" id="theme-btn">
    🌙
</button>

    <a href="/human" class="back-btn">← Back</a>

<div class="dashboard-container">
    <h1>Home Remedies</h1>

    <form>
        <input type="text" placeholder="Enter illness (cold, headache etc)"><br><br>

        <button type="submit">Get Remedies</button>
    </form>

    <h3 style="margin-top:20px;color:green;">
        Suggested Remedy: Drink warm water, rest well, and eat healthy food.
    </h3>
</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>

</body>
</html>