<!DOCTYPE html>
<html lang="en">
<head>
    <title>Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<button onclick="toggleTheme()" id="theme-btn">
    🌙
</button>
<a href="/" class="back-btn">← Back</a>

<div class="dashboard-container">
    <h1>Our Healthcare Services</h1>

    <div class="card-container">

        <div class="card">
            <h2>Doctor Appointments</h2>
            <p>Book appointments with healthcare professionals.</p>
        </div>

        <div class="card">
            <h2>Medical Reports</h2>
            <p>Upload and manage health reports securely.</p>
        </div>

        <div class="card">
            <h2>AI Chatbot</h2>
            <p>Get instant health suggestions.</p>
        </div>

        <div class="card">
            <h2>Pet Care</h2>
            <p>Vet appointments, vaccination reminders and pet records.</p>
        </div>

        <div class="card">
            <h2>Insurance</h2>
            <p>Explore health insurance plans.</p>
        </div>

        <div class="card">
            <h2>Pharmacy</h2>
            <p>Medicine information and healthcare guidance.</p>
        </div>

    </div>
</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>

</body>
</html>