<!DOCTYPE html>
<html>
<head>
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="speed-page">

<a href="/dashboard" class="back-btn">← Back</a>

<div class="speed-container">

    <h1>Fitness Performance</h1>

    <div class="runner-track">
        <div class="runner">🏃</div>
    </div>

    <div class="speed-stats">
        <div class="speed-card">
            <h2>14 KM/H</h2>
            <p>Speed</p>
        </div>

        <div class="speed-card">
            <h2>5400</h2>
            <p>Steps</p>
        </div>

        <div class="speed-card">
            <h2>220</h2>
            <p>Calories</p>
        </div>
    </div>

</div>

</body>
</html>